*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    color: white;
    background-color: gray;
}
.header {
    background-color: royalblue;
    padding: .25em .5em;
    height: 60px;
    padding: 10px;
    border: 1px;
    border-color: red;
    margin: 0 auto;
}
.logo {
    background-image: url("../IMG/IMG_3268 copy.png");
    width: 100px;
    height: 50px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
ul {
    list-style-type: none;
    list-style-type: none;
}
li {
    display: inline;
}
.menu {

} 
.signup {

}
/*video#bgvid {
    display: inline block;
    right: 0;
    bottom: 0;
    min-height: 700px;
    margin: 0px auto;
    width: auto;
    z-index: -100;
    background: url(findingthepath.jpg) no-repeat;
    background-size: cover;*/

}
.button {
    position: relative;
    display: inline-block;
    background-color: #008ec2;
    color: white;
    font-size: 33px;
    top: 212px;
    text-decoration: none;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 40px;
    margin-left: 25px;
}
a:hover {
    background-color: #2495ff;
}
